<div class="sidebar-panel">
  <div class="sidebar-header p-3">
    <h4>{{ service.getNombres() }}</h4>
    <h5 class="mb-3">{{ service.getRol() }}</h5>
  </div>
  <mat-list role="list">
    <ng-container *ngIf="service.getRol() == 'Administrador'">
      <div mat-subheader>Administrador</div>
      <mat-list-item (click)="navigate('/principal/usuarios')" class="cursor-point">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <div mat-line>Gestión de usuarios</div>
      </mat-list-item>
      <mat-list-item (click)="navigate('/principal/cursos')" class="cursor-point">
        <mat-icon mat-list-icon>school</mat-icon>
        <div mat-line>Gestión de cursos</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
    <div mat-subheader>Inicio</div>
    <mat-list-item (click)="navigate('/principal/cuestionarios/home')" class="cursor-point">
      <mat-icon mat-list-icon>navigate_next</mat-icon>
      <div mat-line>Cuestionarios</div>
    </mat-list-item>
    <mat-list-item (click)="navigate('/principal/pruebas')" class="cursor-point">
      <mat-icon mat-list-icon>navigate_next</mat-icon>
      <div mat-line>Pruebas</div>
    </mat-list-item>
    <mat-list-item (click)="navigate('/principal/aulas/home')" class="cursor-point">
      <mat-icon mat-list-icon>navigate_next</mat-icon>
      <div mat-line>Cursos</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Cuenta</div>
    <mat-list-item (click)="logout();" class="cursor-point">
      <mat-icon mat-list-icon>logout</mat-icon>
      <div mat-line>Cerrar sesión</div>
    </mat-list-item>
  </mat-list>
</div>