<div [formGroup]="form">
  <div *ngIf="tipo == 0 || tipo == 1 || tipo == 2 || tipo == 3" class="d-flex align-self-center">
    <p class="flex-grow-1 mr-3"><span class="text-danger">{{ literal.abreviatura + '.- ' }}</span>{{ literal.descripcion }}</p>
    <mat-checkbox *ngIf="tipo == 0" formControlName="respuesta"></mat-checkbox>
    <mat-form-field *ngIf="tipo == 1" appearance="fill">
      <mat-label>Respuesta</mat-label>
      <mat-select formControlName="respuesta" required>
        <mat-option>-- Seleccione --</mat-option>
        <mat-option [value]="'0'">Falso</mat-option>
        <mat-option [value]="'1'">Verdadero</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('respuesta').hasError('required')">Respuesta requerida</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="tipo == 2">
      <mat-label>Posición</mat-label>
      <input formControlName="respuesta" type="number" matInput />
      <mat-error *ngIf="form.get('respuesta').hasError('required')">Posición requerida</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="tipo == 3" appearance="fill">
      <mat-label>Respuesta</mat-label>
      <mat-select formControlName="respuesta" required>
        <mat-option>-- Seleccione --</mat-option>
        <mat-option *ngFor="let respuesta of respuestas" [value]="respuesta">{{ respuesta }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('respuesta').hasError('required')">Opción requerida</mat-error>
    </mat-form-field>
  </div>
  
  <div *ngIf="tipo == 4 || tipo == 5" class="row">
    <p class="col-12 w-100"><span class="text-danger">{{ literal.abreviatura + '.- ' }}</span>{{ literal.descripcion }}</p>
  </div>

  <div *ngIf="tipo == 6" formArrayName="entradas" class="row mt-2 mb-3 p-2 shadow3">
    <label class="mr-2 mt-3">{{ literal.abreviatura + '.- ' }}</label>
    <ng-container *ngFor="let entrada of entradas.controls; let i=index">
      <ng-container *ngIf="literal.entradas[i].esRespuesta; else elseBlock" [formGroupName]="i">
        <mat-form-field class="mr-2 ml-2 text-center">
          <mat-label>Respuesta</mat-label>
          <input formControlName="entrada" type="text" matInput />
          <mat-error *ngIf="entrada.get('entrada').hasError('required')">Respuesta requerida</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-template #elseBlock>
        <label class="mr-2 mt-3">{{ literal.entradas[i].entrada }}</label>
      </ng-template>
    </ng-container>
  </div>
</div>
