<div [formGroup]="form" [style.display]="display" class="container-fluid">
  <div class="row mb-3 d-flex">
    <button mat-stroked-button color="primary" (click)="removePregunta(form.get('orden').value - 1); $event.preventDefault();">-Pregunta</button>
  </div>

  <div class="row d-flex mb-2">
    <mat-form-field appearance="fill">
      <mat-label>Tipo de pregunta</mat-label>
      <mat-select formControlName="tipo">
        <mat-option [value]="0">Opción múltiple</mat-option>
        <mat-option [value]="1">Verdadero o falso</mat-option>
        <mat-option [value]="2">Ordenar</mat-option>
        <mat-option [value]="3">Emparejamiento</mat-option>
        <mat-option [value]="4">Crucigrama</mat-option>
        <mat-option [value]="5">Sopa de letras</mat-option>
        <mat-option [value]="6">Completar</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ml-auto" appearance="fill">
      <mat-label>Puntaje</mat-label>
      <input formControlName="nota" matInput type="number" />
      <mat-error *ngIf="form.get('nota').hasError('required')">Puntaje es requerido</mat-error>
      <mat-error *ngIf="form.get('nota').hasError('min')">Puntaje debe ser mayor a 1</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="mt-2 w-100">
    <mat-label>Pregunta</mat-label>
    <textarea formControlName="descripcion" matInput></textarea>
    <mat-error *ngIf="form.get('descripcion').hasError('required')">Pregunta es requerida</mat-error>
  </mat-form-field>

  <ng-container *ngIf="tipo == 4 || tipo == 5">
    <app-cuestionario-tabla [form]="form.get('tabla')"></app-cuestionario-tabla>
  </ng-container>
  
  <div formArrayName="literales" class="row pt-3 pb-3 pl-5 pr-5">
    <div class="col-12 d-flex">
      <button mat-stroked-button color="accent" (click)="addLiteral(); $event.preventDefault();" class="ml-auto">+Literal</button>
    </div>
    <div *ngFor="let literal of literales.controls; let i=index" class="container mt-2 mb-2 p-3 shadow3 bradius">
      <app-cuestionario-literal [form]="literal" [tipo]="tipo"></app-cuestionario-literal>
    </div>
  </div>

  <mat-tab-group mat-align-tabs="center" color="accent" backgroundColor="primary" class="col-12 mt-3">
    <mat-tab label="Retroalimentación"> 
      <mat-form-field class="w-100">
        <textarea formControlName="retroalimentacion" matInput></textarea>
      </mat-form-field> 
    </mat-tab>
    <mat-tab label="Archivo">
      <mat-form-field class="w-100">
        <textarea formControlName="retroalimentacion" matInput></textarea>
      </mat-form-field>  
    </mat-tab>
  </mat-tab-group>
</div>
  
