<div class="container">
  <form [formGroup]="comentario" (ngSubmit)="onSubmit()" class="row w-75 m0-auto">
    <mat-form-field class="w-75">
      <mat-label>Comentario</mat-label>
      <input formControlName="descripcion" matInput placeholder="Agrega un comentario" type="text" />
      <mat-error *ngIf="comentario.get('descripcion').hasError('required')">Escriba algo antes de comentar</mat-error>
    </mat-form-field>
    <div class="ml-1 mt-3">
      <button mat-icon-button color="accent">
        <mat-icon>add_comment</mat-icon>
      </button>
    </div>
  </form>
  <mat-list class="mt-2">
    <ng-container *ngFor="let comentario of comentarios">
      <mat-list-item class="row w-75 m0-auto">
        <div mat-line>{{ comentario.descripcion }}</div>
        <div mat-line>{{ comentario.autor }}</div>
        <div mat-line>{{ comentario.fecha }} </div>
      </mat-list-item>
      <mat-divider class="w-75 m0-auto"></mat-divider>
    </ng-container>
  </mat-list>
</div>
