<div class="container bg-light pb-5">
  <mat-list class="w-100 mt-4">
    <div mat-subheader>Profesores</div>
    <mat-list-item *ngFor="let profesor of profesores">
      <mat-icon mat-list-icon>account_box</mat-icon>
      <div mat-line>{{ profesor.nombres }}</div>
      <div mat-line>{{ profesor.correoInstitucional }} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Estudiantes</div>
    <mat-list-item *ngFor="let estudiante of estudiantes">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <div mat-line>{{ estudiante.nombres }}</div>
      <div mat-line>{{ estudiante.correoInstitucional }} </div>
    </mat-list-item>
  </mat-list>
</div>
