<div *ngIf="literales?.length > 0" class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>  
        <th>No</th>
        <th>Literal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let literal of literales" class="text-center">
        <td>{{ literal.abreviatura }}</td>
        <td>{{ literal.descripcion }}</td>
      </tr>
    </tbody>
  </table>  
</div>

<h5 class="text-center mt-3">Respuesta</h5>
<div class="overflowx border border-black text-center pt-3 pb-3 mb-3">
  <div *ngFor="let fila of tabla.filas" class="mt-1 mb-1">
    <ng-container *ngFor="let columna of fila.columnas"> 
      <div *ngIf="columna.palabra; else elseBlock" class="w50 d-inline-block border border-primary ml-1 mr-1">
        {{ columna.palabra }}
      </div>
      <ng-template #elseBlock>
        <div class="w50 d-inline-block ml-1 mr-1"></div>
      </ng-template>
    </ng-container>
  </div>
</div>

<h5 class="text-center mt-3">Tu respuesta</h5>
<div class="overflowx border border-black text-center pt-3 pb-3 mb-3">
  <div *ngFor="let fila of tabla.filas" class="mt-1 mb-1">
    <ng-container *ngFor="let columna of fila.columnas"> 
      <div *ngIf="columna.palabra2; else elseBlock" class="w50 d-inline-block border border-primary ml-1 mr-1">
        {{ columna.palabra2 }}
      </div>
      <ng-template #elseBlock>
        <div class="w50 d-inline-block ml-1 mr-1"></div>
      </ng-template>
    </ng-container>
  </div>
</div>