.txt-aula * { font-family: "Lucida Console", Monaco, monospace; font-weight: bold; }
.txt-aula h3 { font-size: 30px; }
.txt-aula h4 { font-size: 25px; }
.line{ border-bottom: 2px outset lightgray; }
.line h5 { margin-left: 20px; font-weight: bold; }
.my-card { padding: 20px; }
.bg-comment { background-color: #edecf5; }
.my-card, .bg-comment { border-radius: 15px; }
.curso { border-radius: 30px; }
.header-image { background-image: url("/assets/task.png"); background-size: cover; }