<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <div class="w-100 d-flex mt-3 mb-3">
    <button mat-raised-button color="primary" class="ml-auto">Guardar</button>
  </div>
  <mat-form-field class="w-50">
    <mat-label>Tema</mat-label>
    <input matInput formControlName="tema" type="text" />
  </mat-form-field>
 
  <mat-form-field class="w-100">
    <mat-label>Instrucciones</mat-label>
    <textarea matInput formControlName="instrucciones" placeholder="Opcional"></textarea>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput formControlName="fecha" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="w-100 d-flex">
    <ngb-timepicker formControlName="tiempo" [meridian]="true" class="ml-auto"></ngb-timepicker>
  </div>
  
  <mat-chip-list formArrayName="cuestionarios" class="m-3">
    <mat-chip *ngFor="let cuestionario of cuestionarios.controls; let i=index" [selectable]="selectable" [removable]="removable" 
      color="primary" selected (removed)="removeCuestionario(i)">{{ cuestionario.get('nombre').value }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree bradius p-2">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <button mat-button color="primary" (click)="addCuestionario(node); $event.preventDefault()" class="m-2">{{node.nombre}}</button>
      </li>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li>
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle (click)="$event.preventDefault()" >
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.nombre}}
        </div>
        <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</form>
