<mat-tab-group mat-stretch-tabs color="primary" (selectedTabChange)="onTabChanged($event);" dynamicHeight class="row">
  <mat-tab label="Inicio">
    <ng-template matTabContent>
      <app-aula-inicio [curso]="curso" [asignaciones]="asignaciones"></app-aula-inicio>
    </ng-template>
  </mat-tab>
  <mat-tab label="Asignaciones">
    <ng-template matTabContent>
      <app-aula-asignaciones [asignaciones]="asignaciones"></app-aula-asignaciones>
    </ng-template>
  </mat-tab>
  <mat-tab label="Participantes">
    <ng-template matTabContent>
      <app-aula-participantes [curso]="curso"></app-aula-participantes>
    </ng-template>
  </mat-tab>
  <mat-tab label="Calificaciones">
    <ng-template matTabContent>
      <app-aula-calificaciones [curso]="curso"></app-aula-calificaciones>
    </ng-template>
  </mat-tab>
</mat-tab-group>