<div [formGroup]="form" [style.display]="display">
  <div class="row col-12 mb-2 opensans">
    <p type="text" class="w-100"><span class="text-danger">{{ pregunta.orden + '.- ' }}</span>{{ pregunta.descripcion }}</p>
  </div>

  <div formArrayName="literales" class="row col-12 p-2 pl-5 pr-5 opensans">
    <ng-container *ngFor="let literal of literales.controls; let j=index">
      <div class="container-fluid">
        <app-prueba-literal [literal]="pregunta.literales[j]" [form]="literal" [tipo]="pregunta.tipo" [data]="respuestas"></app-prueba-literal>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="pregunta.tipo == 4 || pregunta.tipo == 5">
    <app-prueba-tabla [tabla]="pregunta.tabla" [form]="form.get('tabla')" [tipo]="pregunta.tipo"></app-prueba-tabla>
  </ng-container>

  <div *ngIf="pregunta.retroalimentacion" class="row mt-2">
    <div class="col-12">
      <label>Retroalimentación</label>
      <p>{{ pregunta.retroalimentacion }}</p>
    </div>
  </div>
</div>